body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#top{
    padding: 0 100px 0 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}
#top h1{
    align-self: center;
}
.logo{
    height: 100%;
}

hr{
    margin: 0;
    width: 100%;
    border-left-width: 0;
    border-right-width: 0;
}

#main {
    display: flex;
}

nav{
    background-color: aqua;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    width: 15%;
    height: auto;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    font-size: 2rem;
}

#vl{
    border-left: 1px solid black;
    height: 500px;
}

#blogs{
    height: 100px;
    width: 85%;
    background-color: red;   
}